
@font-face{
    font-family: 'Yekan';
    src: url(./fonts/BYekan/BYekan+.ttf);
    font-weight: normal;
    font-style: normal;
}

@mixin sm-size{
    @media (max-width: 768px){
        @content;
    }
}

.social-btn-float{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    .text{
        position: relative;
        bottom: 0;
        padding: 7px 12px 7px 5px;
        margin-right: 7px;
        font-family: 'Yekan', Arial, Helvetica, sans-serif;
        font-size: 14px;
        background-color: #f5f7f9;
        color: #43474e;
        border-radius: 4px;
        transition: 0.4s ease all;
        opacity: 1;
        &.vanishing{
            opacity: 0;
            transition: 0.4s ease all;
            bottom: -20px;
        }

    }
    .btn-container{
        position: relative;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #2db742;
        cursor: pointer;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent url('./whatsapp_logo.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 30px auto;
            transition: 0.4s ease all;
            transform: scale(1) rotate(0deg);
            z-index: 1;
            opacity: 1;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent url('./x_icon.svg');
            background-size: 14px auto;            
            background-repeat: no-repeat;
            background-position: center center;
            transition: 0.4s ease all;
            transform: scale(0) rotate(-360deg);
            z-index: 2;
            opacity: 0;
        }
        &.open{
            &::before{
                opacity: 0;
                transform: scale(0) rotate(360deg);
            }
            &::after{
                opacity: 1;
                transform: scale(1) rotate(0deg);
            }
        }

    }
}

.social-box-float{
    font-family: 'Yekan', Arial, Helvetica, sans-serif;
    width: 351px;
    border-radius: 5px 5px 8px 8px;
    position: fixed;
    bottom: 102px;
    right: 25px;
    overflow: hidden;
    box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.04);
    opacity: 0;
    transform: translate(0,50px);
    transition: 0.4s ease all;
    max-width: calc(100%-50px);
    direction: rtl;
    @include sm-size(){
        width: 300px;
    }
    &.lunch{
        opacity: 1;
        bottom: 150px;
    }
    &:hover{
        box-shadow: 0 10px 10px 4px rgba(32, 32, 37, .23);
    }
    .box-head{
        background-color: #2db742;
        padding: 15px 74px 17px 43px;
        position: relative;
        &::before{
            content: '';
            background: url('./whatsapp_logo.svg') center top no-repeat;
            background-size: 33px;
            display: block;
            width: 55px;
            height: 33px;
            position: absolute;
            top: 20px;
            right: 12px;
        }
        .title{
            padding-top: 2px;
            color: #fff;
            font-size: 18px;
            line-height: 24px;
            font-weight: 300;
        }
        .intro{
            color: #fff;
            opacity: 0.8;
            padding-top: 4px;
            font-size: 14px;
            line-height: 20px;
            
        }
    }
    .box-body{
        text-align: left;
        background: #fff;
        padding: 13px 20px 21px 19px;
        .notice{
            text-align: right;
            font-size: 13px;
            color: #a5abb7;
            font-weight: 500;
            padding: 0 3px;
        }
        .list{
            box-sizing: border-box;
            display: block;
            .list-item{
                margin: 14px 0 0;
                opacity: 1;
                .list-link{
                    transition: 0.2s ease all;
                    border-right: 2px solid #2db742;
                    border-left: 0 !important;
                    padding: 13px 74px 12px 40px;
                    position: relative;
                    text-decoration: none;
                    display: table;
                    width: 100%;
                    background-color: #f5f7f9;
                    border-radius: 2px 4px 2px 4px;
                    box-sizing: border-box;
                    &:hover{
                        background-color: #fff;
                        box-shadow: 0 7px 15px 1px rgba(55, 62, 70, 0.07);
                    }
                    &::after{
                        content: '';
                        background: url('./whatsapp_logo_green.svg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 26px;
                        left: 14px;
                        right: auto;
                        width: 20px;
                        height: 20px;
                    }
                    .avatar{
                        position: absolute;
                        right: 12px;
                        width: 48px;
                        height: 48px;
                        background-image: url('./WhatsApp.png');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;

                    }
                    .name{
                        text-align: right;
                        color: #000;
                        display: table-cell;
                        vertical-align: middle;
                        min-height: 48px;
                        height: 48px;
                    }
                }
            }
        }
    }

}